body {
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  margin: 0;
}

header {
  background-color: teal;
  margin: 20px 0;
  padding-left: 5px;
}

main {
  margin: 0 auto;
  border: 1px solid silver;
  width: 698px;
  height: 498px;
}

.instructions {
  margin: 30px auto;
  text-align: center;
}

.registration input {
  margin: 5px auto;
  display: block;
}

.player1 {
  color: #c69;
}

.player2 {
  color: #36c;
}

.players {
  text-align: center;
  margin: 10px auto;
  height: 30px;
}

.players h2 {
  display: inline;
}

.screen {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(20,20,20,0.8);
}

.victory {
  width: 198px;
  height: 198px;
  margin: 205px auto;
  padding: 50px;
  text-align: center;
}

table {
  width: 598px;
  height: 48px;
  margin: 205px auto;
  border: 1px solid silver;
}

td {
  width: 5%;
  height: 10px;
}

#player1_strip .active {
  background-color: #c69;
}

#player2_strip .active {
  background-color: #36c;
}